* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(180deg, #182C39 0%, #2563EB 100%);

    color: #fff;
}

/* WITTE KAART */
.wrapper {
    width: 420px;
    background: #ffffff;
    color: #333;
    border-radius: 22px;
    padding: 40px 40px 45px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
}

.logo {

    margin-left: 70px;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

p2{
    
    
    justify-content: center;
}







